
<div class="row">
	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>
		<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>	<div class="col s3">
		<div class="card center-align" style="padding:2em;">
			<a href="#">{{ user }} </a><br><br> <form class="ajaxform" method="post" action="">{% csrf_token %}<button class="btn waves-effect waves-light btn-small" type="submit" name="unblock-action" value="unblock-{{user.id}}"><i class="material-icons left">cloud</i>Unblock</button></form>
		</div>
	</div>
{% for user in blockedusers.all %}
<div class="card col s3">
	{{ user }} <form class="ajaxform" method="post" action="">{% csrf_token %}<input type="submit" value="unblock-{{user.id}}"/></form>
</div>
 {% empty %}
<h5>No Users here</h5>       
{% endfor %}
</div>