
<div class="row close-row">
    <div class="col s12 m6">
      <div class="card">
          <div class="card-title blue white-text" style="padding:.5em 1em .5em 1em;">Photos</div>
        <div class="card-content" style="padding-bottom:.0em;">
  <div class="row close-row">
  <div class="carousel" style="height:200px !important;">
    <a class="carousel-item"><img  src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item"><img  src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item"><img  src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item"><img  src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
        <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
            <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                        <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                            <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                        <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                            <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                        <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                            <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                        <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                            <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                                <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                                    <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>
                                                                                        <a class="carousel-item" ><img  src="http://localhost/sample-static/img/member-3.png"></a>

  </div>
 </div>
 <div class="row" style="padding:.2em 1em 1em 1em;color:white;">
  

    {% if request.user.username == user.username %}
      <div class="col m12 s12">
      <a class="btn-floating btn-large waves-effect waves-light blue right modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
       </div>
    {% else %} 
      <div class="col m12 s12">
          <button class="btn-floating btn-large waves-effect waves-light blue right" ><i class="material-icons">favorite_border</i></button>
      </div>
    {% endif %}
    
    </div>
        </div>

      </div>
    </div>
  </div>