{% extends './dashboard.html' %}

{% block content %}
 <div class="row">
 	<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item" href="#two!"><img src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item" href="#three!"><img src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item" href="#four!"><img src="http://localhost/sample-static/img/member-3.png"></a>
    <a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>
   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	   	<a class="carousel-item" href="#five!"><img src="http://localhost/sample-static/img/member-3.png"></a>

  </div>
      
 </div>
{% endblock %}


{% block extra_ready_js %}

{% endblock %}